@import "../../../assets/styles/variables/colors";

.book-table-row {
    width: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid $light_blue;

    padding: 32px 8px;

    &:nth-last-of-type(1) {
        border-bottom: 0;
    }

    &__actions {
        display: flex;

        margin-left: 16px;
    }
}
