@import "./variables/colors";
@import "./globalClasses/globalClasses";

* {
    font-family: "Ubuntu", sans-serif;
    color: $main-font;
}

body {
    margin: 0;

    background-color: $dark_purple;
}
